<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Gradient (2015-09-16 11:48)</string>
	<string>M7.0.5-4052-1</string>
	<string>G-r11-2A396</string>
	<string>G-r11-2A404</string>
</array>
</plist>
